@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    font-family: "Playfair Display"; 
}
.header-section{
    margin: 70px;
    display: flex;

}
.text-section{
    margin-right:50px;
    padding:10px;

}
.header-section img{
    width: 500px;
    height: auto;
    border-radius: 20px;
}

.text-section h1{
    font-size: 50px;
    margin-bottom: 30px;
}

.text-section p{
    font-size: 20px;
    margin-bottom: 30px;
}

.text-section button{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #087f5b;
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.text-section button:hover{
    background-color: #035c41;
}
/* main section */

.main-section{
    margin: 70px;
}
.main-section h1{
    font-size: 40px;
    margin-bottom: 30px; 
}
.objective{
    display:flex;
    background-color: lavender;
    padding: 20px;
    border-radius: 15px;
}
.objective i{
    font-size: 30px;
    color: #035c41;
    margin-bottom: 10px;
}
.objective p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: justify;

}
.objective div{
    margin-right: 20px;
}
/* review section  */
.review{
    margin: 70px;
    height: 300px;
    width: auto;
    background-color: #087f5b;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    color: white;
}

.review img{
    margin-right: 60px;
    border-radius: 15px;
}

.review-section{
    display: flex;
    flex-direction: column;
}

.review-section h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.review-section p{
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
}

/* best selling section */
.bestseller{
    margin: 70px;

 }
 .bestseller h2{
    font-size: 40px;
    margin-bottom: 3px;
}
.top-products{
    display:flex;
}
.products{
    width:430px;
    margin-right:150px;
    border-radius: 15px;
    border:#ccc;
}
.products img{
    width:500px;
    /* height:auto; */
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    margin-bottom:20px;
}
.products p{
    font-size: 20px;
    margin-bottom: 5px;

}
.features{
    padding:5px;
    display: flex;
    flex-direction:column;
}
i{
    margin-right: 10px;
}
.payment{
    display:flex;
    justify-content: center;
    justify-content: space-around;
    /* payment div ko bhitra ko elements haru ko div ko border sanga ko space sab same garcha */
    margin-bottom: 30px;
    margin-top:30px;

}
.payment button{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #087f5b;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.payment button:hover{
    background-color: #035c41;
}
.payment p{ 
    font-weight: bolder;
}
.copyright{
    text-align: center;
    justify-content: center;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 20px;
    background-color:#087f5b;
    color:white;
    height:40px;
}
